# Keybindings require three things to be fully defined: A selector that is
# matched against the focused element, the keystroke and the command to
# execute.
#
# Below is a basic keybinding which registers on all platforms by applying to
# the root workspace element.

# For more detailed documentation see
# https://atom.io/docs/latest/behind-atom-keymaps-in-depth
'atom-workspace':
  'ctrl-alt-shift-u': 'insert-timestamp:tpython'
  'ctrl-alt-shift-j': 'insert-timestamp:tunix'
  'ctrl-alt-shift-t': 'insert-timestamp:DateT'
  'ctrl-alt-shift-n': 'insert-timestamp:tISO8601'
